.env
.env.*
.env.example
*.env
/.envc
/*.env
/.env.local
/.env.development.local
/.env.test.local
/.env.production.local
# Ignore log files and database
*.log
*.sqlite
*.sqlite3
# Ignore node_modules
/node_modules
# Ignore build output
/dist
/build
# Ignore IDE and OS files
/.idea
/.vscode
.DS_Store
Thumbs.db   
